    .game {
        font: 14px 'Century Gothic', Futura, sans-serif;
        margin: 20px;
        min-height: 260px;
        display: grid;
        justify-content: center;
        align-content: center;
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    .heading {
        text-align: center;
        font-size: 60px;
    }
    
    body {
        display: grid;
        align-content: center;
        width: 100vw;
        color: white;
        justify-content: center;
        height: 100vh;
        background: #0f0c29;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .game ol,
    .game ul {
        padding-left: 30px;
    }
    
    .board-row:after {
        clear: both;
        content: '';
        display: table;
    }
    
    .status {
        margin-bottom: 10px;
    }
    
    .restart {
        text-transform: capitalize;
        font-size: 16px;
        margin-top: 10px;
        padding: 8px;
        color: white;
        border: none;
        border-radius: 5px;
        background: #7F00FF;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #E100FF, #7F00FF);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .square {
        background: #fff;
        border: 1px solid #eaeaea;
        float: left;
        font-size: 24px;
        font-weight: bold;
        line-height: 50px;
        height: 50px;
        margin-right: -1px;
        margin-top: -1px;
        padding: 0;
        text-align: center;
        width: 50px;
    }
    
    .square:focus {
        outline: none;
        background: #ddd;
    }
    
    .game {
        display: flex;
        flex-direction: row;
    }
    
    .game-info {
        margin-left: 20px;
        min-width: 190px;
    }